.App {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
}

.starships {
  display: flex-wrap;
  background-color: rgb(113, 141, 169);
  margin: 10px;
  justify-content: space-evenly;
  max-width: fit-content;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.starships:hover{
  display: block;
  color: black;
}

#title {
  text-align: center;
  color: white;
  background-color: black;
  font-size: 30px;
}